h1
{
  color: navy;
  margin-left: 20px;
}
p
{
  color: blue;
  font-family: "Times New Roman", Times, serif;
}

button
{
  background-color:lightblue;
  color:darkblue;
}
/*courtesy of stackoverflow, from http://jsfiddle.net/ndhqM/*/
#contentBox {
    margin: 0 auto;
    width: 70%;
}

#contentBox .column {
    float: left;
    margin: 0;
    width: 33%;
}
/*courtesy of cssstickyfooter, from http://www.cssstickyfooter.com/using-sticky-footer-code.html*/
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;}
